.attribution {
  font-size: 13px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* style desktop */
@media only screen and (min-width: 768px) {
  .attribution{
    font-size: 16px;
  }
}